---
import Layout from "../layouts/Layout.astro";
import { Atention, Authority, Hero, Solution } from "../sections";
---

<Layout title="Jabones Artesanales para Emprender tu Negocio desde Cero">
  <main>
    <Hero />
    <Atention />
    <Solution />
    <Authority />
  </main>
</Layout>
