---
import Layout from "../layouts/Layout.astro";
import { Atention, Hero, Solution } from "../sections";
---

<Layout title="Jabones Artesanales para Emprender tu Negocio desde Cero">
  <main>
    <Hero />
    <Atention />
	<Solution />
  </main>
</Layout>
