---
import { IslandMessage } from "@/components";
import Layout from "../layouts/Layout.astro";
import {
  Atention,
  Authority,
  Hero,
  Solution,
  Bonus,
  Testimonials,
  Guarantee,
  Footer,
  Teacher,
  Questions,
  CallToAction,
  CallToActionTwo,
} from "../sections";
---

<Layout title="Jabones Artesanales para Emprender tu Negocio desde Cero">
  <main class="">
    <Hero />
    <Atention />
    <Solution />
    <IslandMessage>
      No te quedes atrás: obtén tu certificación con la formación más actualizada y un enfoque
      novedoso, simple y ajustado a ti
    </IslandMessage>
    <Authority />
    <IslandMessage>
      ¡Sólo si te inscribes el día de HOY podrás acceder a una oferta única que tenemos disponible
      por tiempo limitado
    </IslandMessage>
    <Bonus />

    <CallToAction />
    <IslandMessage>
     Ofeta por tiempo limitado, con certificación
    </IslandMessage>
    <Testimonials />
    <Guarantee />
    <Teacher />
    <CallToActionTwo />
    <Questions />
    <Footer />
  </main>
</Layout>
