---
import { IslandParagraph, TitleH2 } from "../components";
---

<section class="max-w-[1000px] mx-auto pt-8">
  <TitleH2>
    ¿Quieres generar otra fuente de <span class="text-[#f00]">INGRESOS</span> y no
    sabes por dónde comenzar?</TitleH2
  >
  <div class="flex justify-between items-center py-4">
    <IslandParagraph>
      En un entorno económico incierto, encontrar una fuente de ingresos segura
      puede parecer imposible. La inseguridad financiera es una preocupación
      constante. Pero, ¿y si te dijera que hay una industria en crecimiento,
      accesible y rentable esperándote?
    </IslandParagraph>
    <img
      src="/assets/jabon-1.png"
      alt=""
      class="size-56 rounded-md shadow-md shadow-gray-300"
    />
  </div>
  <TitleH2>
    <span class="text-[#f00]">El 80% de las mujeres</span> actualmente prefieren
    el uso de <span class="text-[#f00]">JABONES NATURALES</span>
  </TitleH2>
  <div class="flex justify-between items-center py-4">
    <img
      src="/assets/jabon-2.png"
      alt=""
      class="size-56 rounded-md shadow-md shadow-gray-300"
    />
    <IslandParagraph>
      Los jabones artesanales tienen una ventaja competitiva sobre los jabones
      industriales, ya que los consumidores buscan productos naturales, libres
      de químicos y hechos a mano. Además, puedes ofrecer una variedad de
      fragancias, texturas y diseños que no se encuentran en los jabones
      comerciales
    </IslandParagraph>
  </div>
  <TitleH2>
    ¿Quieres lograr otra fuente de <span class="text-[#f00]">INGRESOS</span> y no
    sabes por dónde comenzar?</TitleH2
  >
  <div class="flex justify-between items-center py-4">
    <IslandParagraph>
      <ul>
        <li>Ingredientes Naturales</li>
        <li>Libre de Quimicos</li>
        <li>Ecologicos</li>
        <li>Menos Alergias</li>
      </ul>
    </IslandParagraph>
    <img
      src="/assets/jabon-2.png"
      alt=""
      class="size-56 rounded-md shadow-md shadow-gray-300"
    />
  </div>
</section>
