---
import { TitleH2 } from "@/components";
import { IslandBonus } from "../components";
---

<section class="max-w-[1000px] mx-auto pt-8">
  <TitleH2> Disfruta estos increíbles Bonos totalmente GRATIS </TitleH2>
  <IslandBonus>
    <img src="/assets/certificado.jpg" alt="" class="w-[250px]" />
    <div
      class="flex flex-col max-w-[450px] text-center items-center justify-around gap-4"
    >
      <h3 class="font-semibold text-xl">Bono 1: Certificado de finalización</h3>
      <p class="">
        Obtendrás un certificado donde quedará demostrado que te has convertido
        en una Experta en la creacion de Jabones Artesanales.
      </p>
    </div>
  </IslandBonus>
  <IslandBonus>
    <div
      class="flex flex-col max-w-[450px] text-center items-center justify-around gap-4"
    >
      <h3 class="font-semibold text-xl">Bono 2: Grupo Privado de Soporte</h3>
      <p class="">
        Serás parte de la comunidad privada del programa y tendrás acceso
        directo a Gaby, tu instructora para que puedas salir de cualquier duda
        que tengas respecto a tu proceso.
      </p>
    </div>
    <img src="/assets/vip.png" alt="" class="w-[250px]" />
  </IslandBonus>
</section>
