---
import { ButtonCTA, CountdownTimer } from "@/components";
---

<section>
  <h2 class="text-center font-extrabold text-5xl text-[#f00]">¡SÓLO POR HOY!</h2>
  <h3 class="text-center font-bold text-xl py-2">
    Tendrás un <span class="font-bold text-3xl"> 50% de DESCUENTO</span>
  </h3>
  <h3 class="text-center font-bold text-xl  ">
    pero apurate, esta oferta finaliza en
  </h3>
  <CountdownTimer client:load />
  <ButtonCTA />
</section>
