---
import { TitleH2 } from "@/components";
---

<footer class="bg-lightGreen w-full py-8">
  <div class="flex flex-col items-center mx-auto justify-center max-w-[1000px]">
    <p class="font-semibold">| Todos los derechos reservados |</p>
    <p class="pt-2">
      Esta página web no es parte de la página Facebook o de Facebook Inc.
      Además, esta página web NO está avalada por Facebook de ninguna manera.
      FACEBOOK es una marca registrada de FACEBOOK, Inc
    </p>
  </div>
</footer>
