---
import { TitleH2 } from "@/components";
---

<section class="bg-lightGreen w-full pt-8">
  <TitleH2> ¡No tienes nada que perder! </TitleH2>
  <div class=" flex items-center mx-auto justify-center max-w-[1000px]">
    <p class="font-medium ">
      Tienes 7 días a partir de la compra para probar nuestro curso “Velas como
      negocio creativo , si dentro de ese periodo nuestro curso no cumple y/o
      supera tus expectativas te reembolsamos el 100% de tu dinero SIN hacer
      ninguna pregunta. Te lo garantiza Hotmart® La empresa y plataforma
      tecnológica que soporta toda nuestra operación y donde vas a realizar el
      pago.
    </p>
    <img src="/assets/garantia.png" alt="" class="h-[300px]"/>
  </div>
</section>
