---
import { TitleH2 } from "@/components";
---

<section class=" w-full py-8 z-[-2] bg-white bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(109,237,14,0.2),rgba(109,237,14,0.03))]">
  <TitleH2> ¡No tienes nada que perder! </TitleH2>
  <div class=" flex items-center mx-auto justify-around max-w-[1000px]">
    <p class="font-medium max-w-[500px]">
      Tienes 7 días a partir de la compra para probar nuestro curso “Velas como
      negocio creativo , si dentro de ese periodo nuestro curso no cumple y/o
      supera tus expectativas te reembolsamos el 100% de tu dinero SIN hacer
      ninguna pregunta. Te lo garantiza Hotmart® La empresa y plataforma
      tecnológica que soporta toda nuestra operación y donde vas a realizar el
      pago.
    </p>
    <img src="/assets/garantia.png" alt="" class="h-[300px]"/>
  </div>
</section>
