---
import { Navbar } from "../sections";
---

<section
  class="flex flex-col items-center justify-center relative lg:h-[600px] bg-cover bg-center px-4"
  style="background-image: url('/assets/bg-hero.png');"
>
  <div class="absolute inset-0 bg-white opacity-75"></div>
  <div
    class="flex flex-col lg:flex-row justify-between items-center mx-auto py-24 lg:py-12 w-full max-w-[1200px]   "
  >
    <div class="relative lg:max-w-[500px] px-4 text-center flex flex-col gap-8">
      <h1 class=" text-3xl md:text-4xl font-extrabold">
        <span class="text-[#ac0000]">Descubre</span> el Arte de los
        <span class="text-[#ac0000]">Jabones Artesanales </span>
        y Conviertelo en un
        <span class="text-[#ac0000]">Emprendimiento Exitoso</span>
      </h1>
      <p class="text-base md:text-xl font-semibold">
        <span class="text-[#ac0000]">Aprende desde cero</span>, paso a paso, y
        conviértete en una experta
        <span class="text-[#ac0000]">en menos de 15 Días</span>
      </p>
    </div>
    <div class="relative py-8">
      <video width="500"  controls  loop>
        <source src="/assets/video.mp4" type="video/mp4" />
        Tu navegador no soporta la etiqueta de video.
      </video>
    </div>
  </div>
</section>
