---
import { FrecuentlyQuestions, TitleH2 } from "@/components";
---

<section class="max-w-[1000px] m-auto  py-8">
   <TitleH2>Preguntas Frecuentes</TitleH2>
   <FrecuentlyQuestions client:load />
</section>