---
import { TitleH2, IslandIcons } from "@/components";
---

<section class="max-w-[1000px] mx-auto pt-8 px-4">
  <TitleH2>
    Te enseñamos a crear un Negocio Rentable desde tu hogar
  </TitleH2>
  <p class="py-4">
    En este curso iniciaremos desde cero y no sólo aprenderás a elaborar jabones
    con la técnica de saponificación en frío sino que también hemos desarrollado
    módulos completos de Jabones con Glicerina que te brindarán todas las
    herramientas para convertirte en un experto en Jabones Artesanales.
    Aprenderás desde cero cómo crear maravillosos jabones a partir de dos
    técnicas: saponificación en frio y fundido y vertido con glicerina. Al
    finalizar este curso estarás listo para sorprender a tu familia y amistades
    y emprender un negocio propio en el rubro artesanal.
  </p>
  <TitleH2>
    ¿Por qué Jabones Artesanales son una Excelente Oportunidad de Negocio?
  </TitleH2>
  <div class="flex flex-wrap gap-4 items-center justify-around py-4">
    <IslandIcons>
      <img src="/assets/jabon-2.png" alt="" class="size-[100px]" />
      <p>
        Elaborarlos NO requiere herramientas, maquinaria ni inversiones
        costosas.
      </p>
    </IslandIcons>
    <IslandIcons>
      <img src="/assets/jabon-2.png" alt="" class="size-[100px]" />
      <p>
        Pueden darse como recuerdo en eventos como: Aniversarios, Bodas,
        Bautizos, etc.
      </p>
    </IslandIcons>
    <IslandIcons>
      <img src="/assets/jabon-2.png" alt="" class="size-[100px]" />
      <p>Es un producto de primera necesidad y de uso diario.</p>
    </IslandIcons>
    <IslandIcons>
      <img src="/assets/jabon-2.png" alt="" class="size-[100px]" />
      <p>Puede ser usado por todos los miembros de la familia</p>
    </IslandIcons>
    <IslandIcons>
      <img src="/assets/jabon-2.png" alt="" class="size-[100px]" />
      <p>
        La diversidad de Diseños que puedes crear los hace apropiados como
        regalo en cualquier ocasion.
      </p>
    </IslandIcons>
    <IslandIcons>
      <img src="/assets/jabon-2.png" alt="" class="size-[100px]" />
      <p>
        La diversidad de Diseños que puedes crear los hace apropiados como
        regalo en cualquier ocasion.
      </p>
    </IslandIcons>
  </div>
</section>
