---
import { TitleH2 } from "@/components";
---

<section class="flex flex-col items-center justify-center gap-8">
  <TitleH2>¿Quien será tu instructora?</TitleH2>
  <img src="/assets/Teacher.png" alt="" class="size-40 rounded-full mx-auto" />
  <div class="flex flex-col justify-center items-center max-w-[600px] mx-auto gap-4">
    <p>
      Administradora de empresas y amante de la jabonería artesanal, lleva
      muchos años de capacitación, estudiando y especializándose en la
      elaboración de jabones artesanales y cosmética artesanal.
    </p>
    <p>
      De su mano aprenderás desde cero cómo crear maravillosos jabones a partir
      de dos técnicas: saponificación en frio y fundido y vertido con glicerina.
    </p>
    <p>
      Al finalizar este curso estarás listo para emprender un negocio propio en
      el mundo de la jabonería artesanal.
    </p>
  </div>
</section>
