---
import { CarouselComponent, TitleH2 } from "@/components";
---

<section class="max-w-[1000px] m-auto  py-12">
    <TitleH2>Estos son los Trabajos de Nuestros Alumnos</TitleH2>
    <CarouselComponent client:load/>
</section>