---
import { TitleH2, IslandIcons } from "@/components";
import { List } from "./components";
---

<section class="max-w-[1000px] mx-auto py-8 px-4">
  <TitleH2> Te enseñamos a crear un Negocio Rentable desde tu hogar </TitleH2>
  <List>
    En este curso iniciaremos desde cero, hemos desarrollado módulos completos que te brindarán
    todas las herramientas para convertirte en un experto en Jabones Artesanales.</List
  >
  <List>
    Aprenderás desde cero cómo crear maravillosos jabones a partir de dos técnicas: saponificación
    en frio y fundido y vertido con glicerina.</List
  >
  <List>
    Al finalizar este curso estarás listo para sorprender a tu familia y amistades y emprender un
    negocio propio en el rubro artesanal.</List
  >

  <TitleH2> ¿Sabes qué es lo mejor de este Negocio? </TitleH2>

  <List>
    Elaborarlos NO requiere herramientas, maquinaria ni inversiones costosas.
  </List>
  <List>
    Pueden darse como recuerdo en eventos como: Aniversarios, Bodas, Bautizos, etc.
  </List>
  <List>
    Es un producto de primera necesidad y de uso diario.
  </List>
  <List>
    Puede ser usado por todos los miembros de la familia
  </List>
  <List>
    La diversidad de Diseños que puedes crear los hace apropiados como regalo en cualquier
        ocasion.
  </List>
  <List>
    La diversidad de Diseños que puedes crear los hace apropiados como regalo en cualquier
        ocasion.
  </List>
  </div>
</section>
